name: autotests

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  tests:
    name: Check if tests need to be run
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Load tests
        uses: actions/checkout@v2
        with:
          repository: wo1f/cpp-backend-tests
          path: 'cpp-backend-tests'

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install -r requirements.txt

      - name: ls
        run: ls

      - name: run tests
        run: pytest --junitxml=results.xml cpp-backend-tests/tests/test_example.py
        env:
          DELIVERY_APP: /app/main.py

      - name: Publish XML reports
        uses: EnricoMi/publish-unit-test-result-action@v1
        if: always()
        with:
          files: ./*.xml
